/* Color */
:root {
  --c-white: hsl(0, 0%, 100%);
  --c-gray-dark: hsl(233, 14%, 25%);
  --c-purple: hsl(232, 58%, 55%);
  --c-teal: hsl(180, 100%, 42%);
  --c-transparent: transparent;
  --c-magenta: hsl(320, 85%, 41%);

  --color-main-bg: var(--c-white);
  --color-text-dark: var(--c-gray-dark);
  --color-text-light: var(--c-white);
  --color-hero-bg: var(--c-purple);
  --color-button-primary-bg: var(--c-teal);
  --color-button-primary-text: var(--c-gray-dark);
  --color-button-primary-border: var(--c-teal);
  --color-button-secondary-bg: var(--c-transparent);
  --color-button-secondary-text: var(--c-white);
  --color-button-secondary-border: var(--c-white);
  --color-button-tertiary-bg: var(--c-white);
  --color-button-tertiary-text: var(--c-gray-dark);
  --color-button-tertiary-border: var(--c-white);
  --color-fullwidth-bg: var(--c-magenta);
}

/* Simple reset
/* 1. Use a more comprehensive box-sizing model */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* 2. Reset margins */
* {
  margin: 0;
}

/* 3. Strip links */
a {
  text-decoration: none;
}

/* 4. Improve media defaults */
img,
picture,
svg {
  max-width: 100%;
  display: block;
}

/* Add custom styles below this line */
h1 {
  color: #333;
  padding: 1rem;
}

p {
  padding: 0 1rem 1rem;
}
