/* Fonts */
/* source-sans-3-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Source Sans 3";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/source-sans-3-v19-latin-regular.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* source-sans-3-700 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Source Sans 3";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/source-sans-3-v19-latin-700.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* Color */
:root {
  --c-white: hsl(0, 0%, 100%);
  --c-gray-dark: hsl(233, 14%, 25%);
  --c-purple: hsl(232, 58%, 55%);
  --c-teal: hsl(180, 100%, 42%);
  --c-transparent: transparent;
  --c-magenta: hsl(320, 85%, 41%);

  --color-main-bg: var(--c-white);
  --color-text-dark: var(--c-gray-dark);
  --color-text-light: var(--c-white);
  --color-hero-bg: var(--c-purple);
  --color-button-primary-bg: var(--c-teal);
  --color-button-primary-text: var(--c-gray-dark);
  --color-button-primary-border: var(--c-teal);
  --color-button-secondary-bg: var(--c-transparent);
  --color-button-secondary-text: var(--c-white);
  --color-button-secondary-border: var(--c-white);
  --color-button-tertiary-bg: var(--c-white);
  --color-button-tertiary-text: var(--c-gray-dark);
  --color-button-tertiary-border: var(--c-white);
  --color-fullwidth-bg: var(--c-magenta);
}

/* Reset */
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

a {
  text-decoration: none;
}

img,
picture,
svg {
  max-width: 100%;
  display: block;
}

/* Custom styles */
body {
  font-family: "Source Sans 3", Arial, Helvetica, sans-serif;
  /* font-size: 20px; */
}

.wrapper {
  width: min(calc(100% - 48px), calc(1200 / 16 * 1rem));
  margin-inline: auto;
}
