/* Simple reset
/* 1. Use a more comprehensive box-sizing model */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* 2. Reset margins */
* {
  margin: 0;
}

/* 3. Strip links */
a {
  text-decoration: none;
}

/* 4. Improve media defaults */
img,
picture,
svg {
  max-width: 100%;
  display: block;
}

/* Add custom styles below this line */
h1 {
  color: #333;
  padding: 1rem;
}

p {
  padding: 0 1rem 1rem;
}
